
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}
ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container {
    width: 1140px;
    margin: 0px auto;
    
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
};
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;

    }
};
@media screen and (max-width: 768px){
    .container {
        max-width: 540px;
    
    }
}
@media screen and (max-width: 576px) {
    .container{
        width: 100%;
        padding: 0 10px;
    } 
}






