@use "/src/sass/libs/modern-normolize.min.css";
@use "libs/bootstrap-reboot.min";
@use "/src/sass/base/variables.scss";
@use "/src/sass/base/mixins.scss";
@use "/src/sass/libs/popins.scss";
@use "/src/sass/ui/title.scss";
@use "/src/sass/ui/buttons.scss";

@use "/src/sass/base/basic.scss";

@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/sidepanel.scss";
@use "/src/sass/blocks/menu.scss";
@use "/src/sass/blocks/about.scss";
@use "/src/sass/blocks/resume.scss";
@use "/src/sass/blocks/skills.scss";
@use "/src/sass/blocks/progress.scss";
@use "/src/sass/blocks/portfolio.scss";
@use "/src/sass/blocks/price.scss";
@use "/src/sass/blocks/contacts.scss";
@use "/src/sass/blocks/policy.scss";


