@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.contacts{
    padding: 120px 0 90px 0;
    &__wrapper{
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__descr {
        position: relative;
        padding: 6px 0 40px 0;
    }
    &__image{
        img {
            width: 100%;
        }
    }
    &__subtitle {
        margin-left: 12px;
        @include before_circle;   
            &::before {
                top: 0px;
                left: -1px;
            }
        }
    &__title {
        margin-top: 6px;
    }
    .divider {
        @include divider;
        margin: 0;
    }
    &__text{
        margin-top: 20px;
    }
    &__social{
        margin-top: 20px;
        height: 30px;
    }
    &__link{
        margin-right: 25px;
        display:inline-block;
        img{
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__form{
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 31px;
        label {
                margin-bottom: 0;
                display: block;
                position: absolute;
                top: -9px;
                left: 12px;
                height: 18px;
                padding: 0 8px 0 8px;
                font-size: 12px;
                background: #fff;
            }
    }
    &__triggers{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__input{
        position: relative;
        input{
            width: 100%;  
            height: 100%; 
            padding: 0 20px; 
            font-size: 12px;
        }
        
    }
    &__textarea{
        position: relative;
        grid-column: 1 / 3;
        textarea{
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-size: 12px;
        }
    }
    &__btn{
        padding: 0 26px 0 26px;
        border: none;
        font-weight: 700;
        font-size: 14px;
        
    }
    &__policy{
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input{
            margin-right: 10px;
        }
    }
}