@use "/src/sass/base/variables.scss" as *;
.hamburger{
    position: absolute;
    right: 30px;
    top: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 21px;
    cursor: pointer;
    :nth-child(2) {
        width: 36px;
        height: 3px;
    }
    span{
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
}

.menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 10;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block{
        position: relative;
        width: 345px;
        background: $yellow;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        transition: all .6s;
        z-index: 15;
    }
  
    &__close{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list{
        list-style-type: none;
        padding-left: 35px;
    }
    &__link{
        position: relative;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 15px;
        &::before{
            content:'';
            position: absolute;
            left: -35px;
            top:10px;
            width: 15px;
            height: 15px;
            border: 1px solid black;
            border-radius: 100%;
        }
        a{
            color: #fff; 
        }
    }
    &__social{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 10;   
    }
}
 @media screen and (max-width: 320px) {
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
        }
    }   
};