@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.portfolio{
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
        margin-top: 6px;
    }
    &__divider {
        @include divider;
    }
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        
        a{
            :hover{
                transition: all .6s ;
                filter: brightness(50%);
            }
        }
    }
    .vertical{
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
    .horizontal{
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }
}