@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.price{
    padding-top: 60px;
        &__title {
        position: relative;
        text-align: center;
        @include before_circle;
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    .divider {
        @include divider;
    }
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template: repeat(3, 44px) / repeat(2, 367px);
        grid-auto-rows: auto;
        justify-content: space-between;
        row-gap: 15px;
    }
    &__item{
        position: relative;
        display: grid;
        grid-template: repeat(2, 1fr) / 25px auto 1fr;
        &-title{
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            font-weight: 700;
            font-size: 14px;
            &::before{
                content:'';
                position: absolute;
                left: 0;
                top: 2px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $yellow;
            }
        }
        &-cost{
            grid-row: 1 / 2;
            grid-column: 4 / 5;
            font-weight: 700;
            font-size: 14px;
        }
        &-descr{
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            font-weight: 500;
            font-size: 12px;

        }
    }

}