@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.skills{
    padding-top: 126px;
    &__title{
        position: relative;
        text-align: center;
        @include before_circle;
        &::before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle{
        text-align: center;
        margin-top: 6px;
    }
    &__divider{
        @include divider;
    }
    &__wrapper{
        padding: 60px 10px 0 10px;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        gap: 13px;
        
    }
    &__item{
        padding: 30px;
        border: 1px solid black;
        &-img{
            height: 65px;
        }
        &-title{
            margin-top: 20px;
            font-weight: 700;
            font-size: 14px;
            color: #000;
        }
        &-descr{
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            color: #000;
        }
    }
}

@media screen and (max-width: 1200px){
    .skills{
        &__wrapper{
            justify-content: center;
            grid-template: repeat(auto-fill, 270px) / repeat(auto-fill, 270px);
        }
    }
};

@media screen and (max-width: 576px){
    .skills{
        padding-top: 40px;
        &__subtitle{
            margin-top: 20px;
        }
        &__divider{
            margin-top: 15px;
        }
        &__wrapper{
            padding-top: 0px;
            margin-top: 20px;
            gap: 20px;
        }   
    }
}